<!DOCTYPE html>
<html lang="en">

<head>
<!--{{ url_for('static', filename='css/bootstrap.min.css') }} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LSDE</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <link rel="shortcut icon" href="static/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    
    <!-- Custom CSS -->
    <link href="static/css/business-casual.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/business-casual.css') }}" rel="stylesheet"> -->
	
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

		
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- <link href="static/css/" rel="stylesheet" type="text/css"> -->
    <link href="{{ url_for('static', filename='css/xfilter.css') }}" rel="stylesheet">


</head>

<body onload="heatConfig.reset();">
	
	<div class="brand">Large Scale Dynamic Events</div>
    <div class="address-bar">Columbia University & Mitsubishi</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Large Scale Dynamic Events</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <!-- <li>
                        <a href="blog.html">Blog</a>
                    </li> -->
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container box">

        <div class="row">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center"> <strong>LSDE</strong> DEMO
                    </h2>
                <hr>
            </div>
        </div>
        <div class="row">
				<div class="col-lg-6" style = "padding: 20px">
                    <div id="map" style="width: 500px; height: 600px">
                        <!-- temporarily forget about the map -->
                        <!-- id="map" 
                        <img src="http://placehold.it/500x600">-->
                    </div>

				</div>
				
				<div class="col-lg-6" style = "padding: 20px">

                    <img id="myPic" style="width: 352px; height: 240px"></img>
                    <img id="word_cloud" style="width: 352px; height: 240px"></img>
				
                    <div style = "margin: 20px">
                        <form id="heatConfig">
							<input type="checkbox" name="heatmap_on" id="heatmap_on" onchange="switch_heatmap();" />Heat Map<br />

							<input type="checkbox" name="heatmap_normal" id="heatmap_normal" />Normalize<br />

							<input id="radio1" type="radio" name="objectType" value="bus">Bus</input>
							<input id="radio2" type="radio" name="objectType" value="car" checked>Car</input>
							<input id="radio3" type="radio" name="objectType" value="person">Person</input>
						</form>
                    </div>

                    <div class="dropdown" style = "margin: 20px">
                        <!-- Link or button to toggle dropdown -->
                        <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Alert Type -->
                        <button id = "alertBtn"class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Alert Type
                        <span class="caret"></span></button>
                        <button id = "alertRes"class="btn btn-default" type="button" onclick = "alert_type(false,'')" aria-haspopup="true" aria-expanded="true">Reset
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                        <!-- click on one of the options and
                                collect the result of that option
                                set the type to that option -->


                            <li class="dropdown-submenu">
                                <a tabindex="-1"> accident </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" onclick="alert_type(true,'ACCIDENT')"> ALL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'ACCIDENT_MAJOR')"> ACCIDENT_MAJOR</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'ACCIDENT_MINOR')"> ACCIDENT_MINOR</a></li>
                                </ul>
                            </li>
                            <li>
                                <a tabindex="-1" onclick="alert_type(true,'CHIT_CHAT')"> chit_chat </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1"> hazard </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD')"> ALL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD')"> HAZARD_ON_ROAD</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_CAR_STOPPED')"> HAZARD_ON_ROAD_CAR_STOPPED</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_CONSTRUCTION')"> HAZARD_ON_ROAD_CONSTRUCTION</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_ICE')"> HAZARD_ON_ROAD_ICE</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_LANE_CLOSED')"> HAZARD_ON_ROAD_LANE_CLOSED</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_OBJECT')"> HAZARD_ON_ROAD_OBJECT</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_POT_HOLE')"> HAZARD_ON_ROAD_POT_HOLE</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_ROAD_ROAD_KILL')"> HAZARD_ON_ROAD_ROAD_KILL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_SHOULDER')"> HAZARD_ON_SHOULDER</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_SHOULDER_ANIMALS')"> HAZARD_ON_SHOULDER_ANIMALS</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_ON_SHOULDER_CAR_STOPPED')"> HAZARD_ON_SHOULDER_CAR_STOPPED</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER')"> HAZARD_WEATHER</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_FLOOD')"> HAZARD_WEATHER_FLOOD</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_FOG')"> HAZARD_WEATHER_FOG</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_HAIL')"> HAZARD_WEATHER_HAIL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_HEAVY_RAIN')"> HAZARD_WEATHER_HEAVY_RAIN</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_HEAVY_SNOW')"> HAZARD_WEATHER_HEAVY_SNOW</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_HURRICANE')"> HAZARD_WEATHER_HURRICANE</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'HAZARD_WEATHER_TORNADO')"> HAZARD_WEATHER_TORNADO</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1"> jam </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" onclick="alert_type(true,'JAM')"> ALL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'JAM_HEAVY_TRAFFIC')"> JAM_HEAVY_TRAFFIC</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'JAM_MODERATE_TRAFFIC')"> JAM_MODERATE_TRAFFIC</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'JAM_STAND_STILL_TRAFFIC')"> JAM_STAND_STILL_TRAFFIC</a></li>
                                </ul>
                            </li>
                            <li>
                                <a tabindex="-1" onclick="alert_type(true,'MISC')"> misc</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1"> police </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" onclick="alert_type(true,'POLICE')"> ALL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'POLICE_HIDING')"> POLICE_HIDING</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'POLICE_VISIBLE')"> POLICE_VISIBLE</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1"> road_closed </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" onclick="alert_type(true,'ROAD_CLOSED')"> ALL</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'ROAD_CLOSED_CONSTRUCTION')"> ROAD_CLOSED_CONSTRUCTION</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'ROAD_CLOSED_EVENT')"> ROAD_CLOSED_EVENT</a></li>
                                    <li><a tabindex="-1" onclick="alert_type(true,'ROAD_CLOSED_HAZARD')"> ROAD_CLOSED_HAZARD</a></li>
                                </ul>
                            </li>
                            <!-- <li class="divider"></li> -->
                            <!-- <li><a tabindex="-1" href="#"></a></li> -->

                        </ul>
                    </div>

					<div id="hour-chart" class="chart">
						<div class="title">Time of Day</div>
					</div>
					
				</div>
		</div>

        <div class="row">

                <div class="col-lg-12" style="padding:20px">

					<div id="date-chart" class="chart">
						<div class="title">Date</div>
					</div>
				
				<!--		

                    <div id="charts"> 
						<table> 
									  <tr style="padding:50px">  
										<td>
									  <div id="hour-chart" class="chart">
										<div class="title">Time of Day</div>
									  </div>
									  </td>
									  </tr>  
									  
									  <tr style="padding:50px">  
										<td>
									  <div id="date-chart" class="chart">
										<div class="title">Date</div>
									  </div>
									  </td>
									  </tr>  
						</table>
					</div>
                    <!-- div of charts -->
                    				
                </div>
        </div>
        <!-- /.row -->
 
    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Columbia University & Mitsubishi 2015</p>
                </div>
            </div>
        </div>

	
    </footer>

    <!-- jQuery -->
    
	<script src="static/js/jquery.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<!--<script src="static/js/leaflet.js"></script>-->
	<script src="static/heatcanvas/heatcanvas.js"></script>
	<script src="static/heatcanvas/heatcanvas-leaflet.js"></script>
    <script src="static/js/leaflet.draw.js"></script>
	<script src="static/crossfilter/crossfilter.v1.min.js"></script>
	<script src="static/crossfilter/d3.v3.min.js"></script>
 
    

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

	<script src="static/js/map.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
